OPENAI_API_VERSION=
AZURE_OPENAI_ENDPOINT=
AZURE_DEPLOYMENT_NAME=
AZURE_OPENAI_API_VERSION=2023-07-01-preview
CONTOSO_SEARCH_ENDPOINT=
CONTOSO_SEARCH_KEY=
AZURE_EMBEDDING_NAME=
FOUNDRY_PROJECT_ENDPOINT=
APPINSIGHTS_CONNECTION_STRING=
#WRITE_EVAL_DATA=true
#PROMPTFLOW_TRACING_SERVER=true